*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

header{
    background-image: url('../img/header.jpg');
    width: 100%;
    height: 90vh;
    color: rgb(0, 0, 0);
    background-size: scale;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    font-size: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
.titulos{
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.logos{
    width: 33.33%;
    text-align: center;
    float: left;
}
.columna1{
    width: 100%;
    text-align: center;
    background-color: rgb(13, 221, 13);
    color: white;
}
.columna2{
    width: 50%;
    padding: 0px;
}
.pad{
    padding-left: 110px;
}
.columna3{
    width: 50%;
    background-color: rgb(13, 221, 13);
}
.columna4{
    width: 50%;
}
.pad1{
    padding-left: 110px;
}
.columnafinal{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.columnafinal2{
    width: 100%;
    background-color: black;
    color: white;
    text-align: justify;
}
.col{
    color: white;
}
.bandera{
    width: 5.5%;
    padding-bottom: 1.4%;
}
.bandera2{
    width: 5%;
}
@media screen and (max-width: 600px){
.columna1{
    width: 50%;
    float: left;
}
.columna2{
    width: 100%;
    padding: 10px;
}
.columna3{
    width: 100%;
}
.pad{
    padding-left: 0px;
}
.pad1{
    padding-left: 10px;
}
iframe{
    width: 100%;
}
}